.container-replie {
    display: grid;
    grid-template-columns: 40px auto 1fr;
    grid-template-rows: 32px 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 15px;
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
}

.container-replies {
    margin-bottom: 20px;
}

.replie {
    display: flex;
    flex-direction: column;
    gap :20px;
}

@media (max-width: 730px){
    .container-replie {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 32px 1fr 40px;
        grid-column-gap: 0px;
        grid-row-gap: 16px;
        padding: 16px;
    }
}